@tailwind base;
@tailwind components;
@tailwind utilities;


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    color: #818181;
}

.menu-btns a,
.menu-btns button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

span {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 25px;
    cursor: pointer;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    align-items: center;
    font-size: 18px;
}

.message {
    padding: 10px;
    border-radius: 8px;
    max-width: 60%;
    margin: 10px 0;
    font-size: 16px;
}

/* Positionering för meddelanden till höger och vänster */
.self-end {
    align-self: flex-end;
    background-color: #2875b4;
    /* Färg för användarens meddelanden */
    color: white;
    /* Textfärg för användarens meddelanden */
}

.self-start {
    align-self: flex-start;
    background-color: #f34ae5;
    /* Färg för mockade meddelanden */
    color: white;
    /* Textfärg för mockade meddelanden */
}

.send-message-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.send-message-form input {
    width: 95%;
    margin-right: 10px;
    border: solid grey 1px;
}

.send-message-form button {
    max-width: 100%;
    padding: 10px;
    background-color: grey;
}

.logged-in-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;

}

.avatar-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}