@tailwind base;
@tailwind components;
@tailwind utilities;

/*Styling för sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    color: #818181;
}

.menu-btns a,
.menu-btns button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

span {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

/*Styling för chattsidan*/
#main {
    transition: margin-left .5s;
    padding: 16px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    align-items: center;
    font-size: 18px;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.self-end .message-container {
    align-items: flex-end;
}

.message {
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    margin: 10px 0;
    font-size: 16px;
    background-color: #f34ae5;
    color: white;
}

.self-end .message {
    background-color: #2875b4;
}

/*  */

.delete-button {
    font-size: 15px;
    color: rgb(68, 68, 68);
    cursor: pointer;

}

.delete-button:hover {
    color: rgb(187, 27, 27);
}

.send-message-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.send-message-form input {
    width: 95%;
    margin-right: 10px;
    border: solid grey 1px;
}

.send-message-form button {
    max-width: 100%;
    padding: 20px 20px;
    background-color: rgb(196, 193, 193);
}

.logged-in-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

.avatar-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.btn-primary {
    margin-right: 10px;
}

.btn-secondary {
    margin-left: 10px;
}

/*Styling för registreringssidan*/

.new-reg {
    font-size: 24px;
    font-family: orbitron;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.pick-avatar {
    text-align: center;
    font-weight: bold;
}


.error-message {
    color: red;
    text-align: center;
}


.success-message {
    color: green;
    text-align: center;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px
        /* Centrerar avatarbilderna horisontellt */
}

.avatar-image {
    cursor: pointer;
    margin: 5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: border 0.3s ease;
}

.avatar-image.selected {
    border: 2px solid rgb(153, 5, 153);
}

/* Ny CSS för att centrera formulärfälten och knappen */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* Centrerar formcontainern och sätter en bredd på 50% av dess föräldraelement */
}

.input-field {
    display: flex;
    align-items: center;
    /* Centrerar innehållet vertikalt */
    border: solid 2px grey;
    opacity: 60%;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    /* Lite utrymme till vänster för ikonen */
    width: 400px;
    margin-bottom: 15px;
}

.input-field svg {
    margin-right: 10px;
    /* Utrymme mellan ikonen och texten */
    height: 20px;
    /* Justera storleken på ikonen om nödvändigt */
    width: 20px;
}

.input-field input {
    border: none;
    /* Ta bort inputfältets inbyggda kantlinje */
    width: 100%;
    /* Fyll hela bredden av input-fältet */
    height: 100%;
    /* Säkerställ att texten tar upp hela höjden av input-fältet */
    outline: none;
    /* Ta bort den blå kanten när fältet är aktivt */
    font-size: 16px;
    /* Justera storleken på texten */
    background: transparent;
    /* Gör bakgrunden transparent så den följer föräldraelementet */
}

.btn-primary-register-login {
    width: 200px;
    /* Sätter bredden på knappen till 65% av formcontainerns bredd */
    height: 70px;
    /* Behåller maxbredden på 400px */
    text-align: center;
    background-color: rgb(180, 35, 161);
    color: white;
    margin: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
}

/*Styling för login*/

.login {
    font-size: 20px;
    font-family: orbitron;
    margin-bottom: 30px;
    font-weight: bold;
}